:root {
  --text-color: #212121;
  --title-color: #ffffff;
  --subtext-color: #757575;
  --bg-color: #2f303a;
  --subtitle-color: #2196f3;
  --text1-color: #000;
}
.conteiner {
  width: 1200px;
  /* outline: solid red; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-conteiner {
  display: flex;
  align-items: center;
}

.header-navigation {
  margin-left: 93px;
  display: flex;
  width: 100%;
}

.header-link1:hover {
  color: var(--subtitle-color);
}
.header-link2:hover {
  color: var(--subtitle-color);
}
.header-link3:hover {
  color: var(--subtitle-color);
}
.header-email:hover {
  color: var(--subtitle-color);
}

.header-title {
  color: var(--text2-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.header-contacts {
  display: flex;
  gap: 50px;
  align-items: center;
}

.header-link1 {
  color: var(--text1-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28p;
}

.header-link2 {
  color: var(--text1-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.header-link3 {
  color: var(--text1-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header-email {
  color: var(--subtext-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header-tel {
  color: var(--subtext-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.header-tel:hover {
  color: var(--subtitle-color);
}

.header-list {
  display: flex;
  gap: 50px;
  margin-right: auto;
  align-items: center;
}

.effect {
  background: url(../img/backgroud.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-position: top, bottom, left, right;

}

.effect-title {
  color: var(--title-color);
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  max-width: 696px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.effect-button {
  display: block;
  color: var(--title-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: var(--subtitle-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 216px;
  height: 50px;

  margin-left: auto;
  margin-right: auto;
}

.warning {
  padding-top: 94px;
  padding-bottom: 94px;
}
.warning-list {
  display: flex;
  gap: 30px;
}

.warning-title {
  color: var(--text-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 270px;
  margin-bottom: 10px;
}

.warning-text {
  color: var(--subtext-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  width: 270px;
  height: 72px;
}

.warning-art1::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/antenna.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
  margin-bottom: 30px;
}
.warning-art2::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/clock.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
  margin-bottom: 30px;
}
.warning-art3::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/diagram.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
  margin-bottom: 30px;
}
.warning-art4::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/astronaut.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
  margin-bottom: 30px;
}

.engaged-title {
  color: var(--text-color);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.engaged {
  padding-bottom: 94px;
}
.engaged-list {
  display: flex;
  gap: 30px;
}

.engaged-photo {
  width: 370px;
  height: 294px;
  display: block;
}
.team {
  padding-top: 94px;
  padding-bottom: 124px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-title {
  color: var(--text-color);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team-photo {
  width: 270px;
  height: 260px;
  background: url(<path-to-image>) lightgray -86.437px -3.457px / 196.208%
    136.002% no-repeat;
  margin-bottom: 30px;
}

.team-subtitle {
  color: var(--text-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}

.team-text {
  color: var(--subtext-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}
.team-item {
  padding-bottom: 30px;
}

.footer {
  background: var(--bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-title {
  color: var(--title-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.footer-span {
  color: var(--subtitle-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.foooter-address {
  color: var(--title-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  width: 231px;
  height: 21px;
  margin-top: 20px;
}

.footer-mail {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  width: 136px;
  height: 21px;
  flex-shrink: 0;
  margin-top: 9px;
}

.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  width: 231px;
  height: 21px;
  margin-top: 9px;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.button {
  padding-top: 94px;
  padding-bottom: 34px;
  display: flex;
  margin-left: 297px;
  margin-right: 297px;
}
.button-list {
  display: flex;
  gap: 8px;
  justify-content: center;
}
.button-list:nth-child(1) {
  flex-basis: 73px;
  height: 38px;
  flex-shrink: 0;
}

.button-list:nth-child(2) {
  flex-basis: 125px;
  height: 38px;
  flex-shrink: 0;
}

.button-list:nth-child(3) {
  flex-basis: 112px;
  height: 38px;
  flex-shrink: 0;
}
.button-list:nth-child(4) {
  flex-basis: 103px;
  height: 38px;
  flex-shrink: 0;
}
.button-list:nth-child(5) {
  flex-basis: 130px;
  height: 38px;
  flex-shrink: 0;
}

.list-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.list {
  padding-bottom: 122px;
}
.button-buttton:hover {
  border-radius: 4px;
  background: var(--subtitle-color);

  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  color: var(--title-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;

  letter-spacing: 0.48px;
}
.button-buttton {
  color: var(--text1-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
  display: flex;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.list-photo {
  flex-basis: 370px;
  height: 294px;
  flex-shrink: 0;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.list-title {
  color: var(--text-color);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
  width: 322px;
}

.list-subtitle {
  color: var(--subtext-color);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
  width: 322px;
}
.list-item {
  height: 404px;
  flex-shrink: 0;
  flex-basis: calc((100% - (30px * 2)) / 3);
}

