:root {
  --text-color: #212121;
  --title-color: #ffffff;
  --subtext-color: #757575;
  --bg-color: #2f303a;
  --subtitle-color: #2196f3;
  --text1-color: #000;
}
.conteiner {
  width: 1200px;
  /* border: solid red; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* header */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: solid #ececec;
}


.header-logo {
  color: #000;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  text-decoration: none;
    transform: translateY(-350%);
  animation: header-link 2s forwards;
}
.header__logo__color {
  color: #2196f3;
  font-family: "Raleway";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.header-item {
    transform: translateY(-300%);
  animation: header-link 2s forwards;
}
@keyframes header-link  {
    0% {transform: translateY(-300%);}
  100% {transform: translateY(0);}
}
.header-item-logo {
   animation: header-link 2s forwards;
}
.header-conteiner {
  display: flex;
  align-items: center;
}

.header-navigation {
  margin-left: 93px;
  display: flex;
  width: 100%;
}


.header-link1:hover {
  color: var(--subtitle-color);

}
.header-link2:hover {
  color: var(--subtitle-color);

}
.header-link3:hover {
  color: var(--subtitle-color);

}
.header-link1:hover::after{
 opacity: 1;
}

.header-link2:hover::after{
opacity: 1;
}
.header-link3:hover::after{
opacity: 1;
}


.header-email:hover {
  color: var(--subtitle-color);
}

.header-title {
  color: var(--text2-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}


.header-link1 {
  color: var(--text1-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28p;
    position: relative;
    transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1), color  250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link2 {
  color: var(--text1-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28p;
    position: relative;
        transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1), color  250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link3 {
  color: var(--text1-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28p;
    position: relative;
        transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1), color  250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow  250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.header-link1::after {
  content: "";
  border-radius: 2px;
background: #2196F3;
width: 48px;
height: 4px;
 position: absolute;
opacity: 0;
bottom: -24px;
left: 0;
right: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link2::after {
  content: "";
   border-radius: 2px;
background: #2196F3;
width: 78px;
height: 4px;
opacity: 0;
 position: absolute;
bottom: -24px;
left: 0;
right: 0;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link3::after {
content: "";
border-radius: 2px;
background-color: #2196F3;
width: 64px;
height: 4px;
 position: absolute;
opacity: 0;
bottom: -24px;
left: 0;
right: 0;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contact__link__tell:hover {
  color: #2196f3;
}

.header__contact__icon {
  margin-right: 10px;
  fill: currentColor;
}
.header__contact__link {
  color: #757575;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  margin-right: 50px;
  display: flex;
  align-items: center;
 transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1), color  250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow  250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.header__contact__item {
     transform: translateY(-300%);
  animation: header-link 2s forwards;
}

.header__contact__link:hover,
.header__contact__link:focus {
  color: #2196f3;
}

.header__contact__link__tell {
  color: #757575;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-wrap: nowrap;
  display: flex;
 transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1), color  250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow  250ms cubic-bezier(0.4, 0, 0.2, 1);
     transform: translateY(-300%);
  animation: header-link 2s forwards;
}


.header-list {
  display: flex;
  gap: 50px;
  margin-right: auto;
  align-items: center;
}
.header__link:hover,
.header__link:focus {
  color: #2196f3;
}
.header__contact {
}
.header__contact__list {

  display: flex;
  align-items: center;

  margin-left: auto;
}
/* effect */
.effect {
  background: url(../img/background.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  background-repeat: no-repeat;
  background-position: bottom, top, left, right;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(48, 47, 57, 0.3)),
    url("../img/background.jpg");
  background-size: 100% 600px;
}

.effect-title {
  color: var(--title-color);
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  max-width: 696px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.effect-button {
  display: block;
  color: var(--title-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: var(--subtitle-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 216px;
  height: 50px;

  margin-left: auto;
  margin-right: auto;
}
/* warning */
.warning {
  padding-top: 94px;
  padding-bottom: 94px;
}
.warning-list {
  display: flex;
  gap: 30px;
}

.warning-title {
  color: var(--text-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 270px;
  margin-bottom: 10px;
  
}

.warning-text {
  color: var(--subtext-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  width: 270px;
  height: 72px;
}

.warning-art1::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/antenna.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
  margin-bottom: 30px;
}
.warning-art2::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/clock.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
  margin-bottom: 30px;
}
.warning-art3::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/diagrama.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
  margin-bottom: 30px;
}
.warning-art4::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/astronaut.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
  margin-bottom: 30px;
}
/* engaged */
.engaged-title {
  color: var(--text-color);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;

  margin-bottom: 50px;
}

.engaged {
  padding-bottom: 94px;
}
.engaged-list {
  display: flex;
  gap: 30px;
}

.engaged-text1 {

padding-left: 107px;
padding-right: 107px;
}

.engaged-text3 {
  padding-left: auto;
padding-right: auto;
}

.engaged-box {
width: 370px;
height: 70px;
position: relative;
z-index: 678;
background-color: #2F303ACC ;
bottom: 68px;
}
.engaged-text {
  color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
padding-top: 27px;
padding-bottom: 27px;

}

.engaged-photo {
  width: 370px;
  height: 294px;
  display: block;
  background: url(<path-to-image>) rgb(255, 255, 255) 50% / cover no-repeat;
  position: relative;
}
/* team */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}
.team__title {
  color: var(--text1-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.team__container {
}
.team__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.team__item {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #fff;
}
.team__img {
  /* background: url(<path-to-image>) lightgray -40.687px -0.224px / 175.271%
    121.356% no-repeat; */
  margin-bottom: 30px;
  width: 270px;
height: 260px;
flex-shrink: 0;
}

.team__list__title {
  color: var(--text1-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}
.team__text {
  color: var(--text-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-bottom: 16px;
}
.team__box {
  
}
.team__list__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.team__item__icons {

}
.team__link:hover,
.team__link:focus {
  background-color: #2196f3;
}
.team__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  margin-bottom: 30px;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover,
.team__link__icons:hover,
.team__link:focus,
.team__link__icons:focus {
  fill: white;
}
.team__link__icons {
  width: 20px;
  height: 20px;
  
}
/* clients */
.clicents {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-title {
  color: var(--text-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.clients_icons {
  display: flex;
  width: 106px;
  height: 60px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-shrink: 0;
  padding-left: 32px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
}

.clients_list {
  display: flex;
  gap: 30px;
}
.clients_item:hover {
  border-radius: 4px;
  fill: #2196f3;

  border: 1px solid #2196f3;
}

.clients_item {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* footer */
.footer {
  background: var(--bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-title {
  color: var(--title-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.footer-link-title {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer-img {
width: 20px;
  height: 20px;
  fill: #eee;
  
}

.footer-span {
  color: var(--subtitle-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.foooter-address {
  color: var(--title-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  width: 231px;
  height: 21px;
  margin-top: 20px;
}

.footer-mail {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  width: 136px;
  height: 21px;
  flex-shrink: 0;
  margin-top: 9px;
}
.footer-link-item {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
   transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1), color  250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-item:hover {
  border-radius: 50%;
  background-color: var(--subtitle-color);
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  width: 231px;
  height: 21px;
  margin-top: 9px;
}
/* modal */
.backdrop {
      position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.20);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition-property: opacity;
    transition-duration: 250ms;
}
.modal {
   transform: scale(1) translate(0, 0) rotate(0deg);
    transition-property: transform, opacity;
    transition-duration: 250ms;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    padding: 14px 40px 40px 40px;
    z-index: 1;
    width: 528px;
 width: 469px;
flex-shrink: 0;
}
.is-hidden .modal {
  transform: scale(1.5) translate(0, 500px) rotate(300deg);
}

.modal_icon {
  width: 18px;
height: 18px;
flex-shrink: 0;
}

.is-hidden {
opacity: 0;
pointer-events: none;
}
.modal_button_close:hover {
fill: #2196F3;
}
.modal_button_close {
margin-left: 470px;
border: solid rgba(0, 0, 0, 0.10) 1px;
border-radius: 50%;
width: 30px;
height: 30px;
display: flex;
justify-content: center;
align-items: center;
 transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1), color  250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_svg {
  width: 18px;
height: 18px;
/* outline: solid red; */

}
.modal_subtitle {
  color: #212121;
text-align: center;
font-family: "Roboto";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.6px;
margin-bottom: 12px;
}
.modal_form {
  display: flex;
  flex-direction: column;

}
.modal_label {
  color: #757575;
font-family: "Roboto";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.12px;
}
.box:hover {
  border-radius: 4px;
border: 1px solid #2196F3;
fill: #2196F3;
}
.box {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 467px;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_icon {
   width: 18px;
height: 18px;
margin-left: 12px;
margin-right: 15px;
}
.modal_input {
outline: none;
border: none;
}
.modal_comment {
  border: none;
outline: none;
color: rgba(117, 117, 117, 0.50);
font-family: "Roboto";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.12px;
width: 448px;
height: 120px;
flex-shrink: 0;
padding-left: 16px;
padding-top: 12px;
border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.20);
margin-top: 4px;
margin-bottom: 10px;
resize: none;

}
.modal_label-confirm {
text-align: center;
    color: rgba(117, 117, 117, .5);
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .12px;
}
.modal_checkbox {
color: #757575;
  border-radius: 4px;
fill: #212121;
margin-left: 7px;
color: #757575;
font-family: "Roboto";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
letter-spacing: 0.42px;
   
}
.input_checkbox {

}
.modal_link {
  color: #2196F3;
font-family: "Roboto";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}
.modal_button {
  margin-top: 30px;
  border-radius: 4px;
background: #2196F3;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
color: #FFF;
text-align: center;
font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
width: 200px;
height: 50px;
margin-left: 120px;
}

/* footer */
.footer-link {
  margin-left: 70px;
}
.footer-list-link {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.footer-container {
  display: flex;
}
.footer_field {
  margin-left: 94px;
}
.footer_subtitle {
  color: #FFF;
font-family: "Roboto";
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 20px;
}
.footer_form {
  display: flex;
  gap: 12px;
}
.footer_label {
  width: 358px;
height: 50px;
border-radius: 4px;
border: 1px solid rgba(255, 255, 255, 0.30);
background: rgba(33, 150, 243, 0.00);
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
display: flex;
align-items: center;
}
.footer_input {
color: rgba(255, 255, 255, 0.60);
font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
letter-spacing: 0.48px;
margin-left: 16px;
border: none;
outline: none;
background: #2F303A;
}
.footer_btn {
  color: #FFF;
text-align: center;
font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
border-radius: 4px;
background: #2196F3;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
width: 200px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
}
.footer_btn_icon {
  width: 24px;
height: 24px;
fill: #FFF;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.button {
  padding-top: 94px;
  padding-bottom: 34px;
  display: flex;
}
.button-list {
  display: flex;
  gap: 8px;
  justify-content: center;
}
.button-list:nth-child(1) {
  flex-basis: 73px;
  height: 38px;
  flex-shrink: 0;
}

.button-list:nth-child(2) {
  flex-basis: 125px;
  height: 38px;
  flex-shrink: 0;
}

.button-list:nth-child(3) {
  flex-basis: 112px;
  height: 38px;
  flex-shrink: 0;
}
.button-list:nth-child(4) {
  flex-basis: 103px;
  height: 38px;
  flex-shrink: 0;
}
.button-list:nth-child(5) {
  flex-basis: 130px;
  height: 38px;
  flex-shrink: 0;
}

.list {
  padding-bottom: 122px;
}
.button-buttton:hover {
  border-radius: 4px;
  background: var(--subtitle-color);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  color: var(--title-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  letter-spacing: 0.48px;
}
.button-buttton {
  color: var(--text1-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
  display: flex;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color  250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow  250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.list-photo {
  flex-basis: 370px;
  height: 294px;
  flex-shrink: 0;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  margin-bottom: 20px;
}

.list-title {
  color: var(--text-color);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 200% */
  letter-spacing: 1.08px;
  width: 322px;
  padding-bottom: 4px;
  padding-left: 24px;
}

.list-subtitle {
  color: var(--subtext-color);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.48px;
  width: 322px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.list-list {
    list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  gap: 30px;
  padding-top: 50px;
}
.list-item:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);

}

.list-item {
  flex-shrink: 0;
  flex-basis: calc((100% - (30px * 2)) / 3);
  border: 1px solid #eee;
 
}
.photo-scroll {
position: fixed;
bottom: 0;
right: 0;
      width: 43px;
  height: 41px;
  background-color: #2196F3;
width: 96px;
height: 96px;
border-radius: 50%;

}
.item-overlay:hover {
  display: block;
}

.item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms ease-in-out;
}


.katolog-box:hover .item-overlay {
  transform: translatey(0);
}

.text-overlay {
    width: 322px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  margin: 63px 24px;
}

.katolog-box {
    position: relative;
  overflow: hidden;
}